/* COLORS */

$primary-color: #010101;;
$secondary-color: #ffffff;
$border-color: #C9CAD1;
$content-color: #808080;
$primary-btn-color: #0087FF;
$gradient-slider-color: #FAFBFC;

/* Box Shadows */

$primary-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);

/* Borders */

$gradient-slider: linear-gradient(90deg, rgba(250, 251, 252, 0) 0%, $gradient-slider-color 100%);
$border-gradient: linear-gradient(45deg, #74EDF2 0%, #5156E6 100%);

