@import '../style/variables';

.main {
    margin: 0 auto;
    margin-top: 121px;

    display: flex;

    width: 946px;

    &__posts {
        display: flex;
        flex-direction: column;
    }

    &__cards {
        margin-top: 128px;
    }

    &__hiddenBlock {
        margin: 0 auto;
    }

    &__newPost {
        margin: 0 auto;
        position: fixed;
        width: 576px;
        height: 683px;
        background: $secondary-color;
        border-radius: 32px;
        z-index: 200;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__newPostBlock {
        width: 481px;
        height: 590;

        background: $border-color;
        border-radius: 12px;

        display: flex;
        flex-direction: column;
        align-items: flex-start
    }

    &__choosePhoto {
        width: 480px;
        height: 345px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    &__choosePhotoText {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;

        color: $secondary-color;
    }
    &__descriptionBlock {
        margin-top: 32px;
        width: 480px;
        height: 128px;
    }
    &__descriptionText {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;

        color: $content-color;
    }
    &__inputChooseFile {
        display: none;
    }
    &__descriptionInput {
        width: 480px;
        height: 108px;
        padding: 14px;
        resize: none;

        background: $secondary-color;
        border: 1px solid $border-color;
        box-sizing: border-box;
        border-radius: 12px;
        &__descriptionInput::placeholder {
            margin: 0;
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;

            color: #808080;
        }
    }
    &__btn {
        width: 234px;
        height: 48px;
        box-sizing: border-box;
        border-radius: 12px;
    }

    &__morePost {
        position: fixed;
        width: 171px;
        height: 28px;
        background: $secondary-color;    
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }

    &__morePostBlock {
        width: 146px;
        height: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__morePostText {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        color: $primary-btn-color;
        text-decoration: none;
    }

    &__morePostIcon {
        margin-bottom: 2px;
        width: 15px;
        height: 15px;
        background: url('../../public/images/cross.svg');
    }
}

@media screen and (min-device-width:720px) and (max-device-width: 1024px){
    .main {
        width: 560px;
        
        &__posts {
            margin: 0 auto;
        }

        &__profile {
            display: none;
        }
    }
}

@media screen and (min-device-width:320px) and (max-device-width: 719px) {
    .main {
        width: 343px;

        &__posts {
            margin: 0 auto;
        }

        &__profile {
            display: none;
        }
    }
}