@import './variables';

.slider {
    width: 560px;
    height: 64px;
    position: absolute;

    margin-bottom: 48px;

    &__morePost {
        position: fixed;
        margin-left: 25%;
        width: 171px;
        height: 28px;
        background: $secondary-color;    
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }

    &__morePostBlock {
        width: 146px;
        height: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__morePostText {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        color: $primary-btn-color;
        text-decoration: none;
    }

    &__morePostIcon {
        margin-right: 12px;
        margin-bottom: 2px;
        width: 15px;
        height: 15px;
        background: url('../../public/images/cross.svg');
    }

    &__formUl {
        display: flex;
        list-style: none;
        overflow-x: scroll;
        padding: 0;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    &__formUl::-webkit-scrollbar {
        display: none;
    }

    &__formLiNonVisited {
        width: 58px;
        height: 58px;
        margin-right: 24px;
        background: $border-gradient;
        padding-top: 3px;
        border-radius: 16px;
    }

    &__storiesBg {
        margin: 0 auto;
        width: 55px;
        height: 55px;
        background: $secondary-color;
        border-radius: 14px;
    }

    &__formLiVisited {
        display: flex;
        align-items: center;
        width: 64px;
        height: 64px;
        margin-right: 24px;

        background-repeat: no-repeat;
    }

    &__storiesVisited {
        cursor: pointer;
        margin: 0 auto;
        align-content: center;
        align-items: center;

        width: 56px;
        height: 56px;

        background: url('../../public/images/storiesOne.png');
    }

    &__storiesNonVisited {
        cursor: pointer;
        margin: 0 auto;

        width: 54px;
        height: 54px;


        border: 0.5px solid $border-color;
        box-sizing: border-box;
        border-radius: 12px;

        background: url('../../public/images/storiesTwo.png');
        background-repeat: no-repeat;

    }

    &__gradient {
        background: $gradient-slider;
        width: 151px;
        height: 64px;
        position: absolute;
        transform: translateX(410px);
    }
}



@media screen  and (min-device-width:343px) and (max-device-width:719px){
    .slider {
        width: 343px;
        height: 40px;

        &__formLi {
            width: 40px;
            height: 40px;
        }
        &__gradient {
            transform: translateX(200px);
        }
    }
}