@font-face {
	font-family: 'Saudagar';
	src: url('../fonts/Saudagar/Saudagar.eot');
	src: local('☺'), url('../fonts/Saudagar/Saudagar.woff') format('woff'), url('../fonts/Saudagar/Saudagar.ttf') format('truetype'), url('../fonts/Saudagar/Saudagar.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Sukhumvit Set';
	src: url('../fonts/Sukhumvit-set/sukhumvit-set.eot');
	src: local('☺'), url('../fonts/Sukhumvit-set/sukhumvit-set.woff') format('woff'), url('../fonts/Sukhumvit-set/sukhumvit-set.ttf') format('truetype'), url('../fonts/Sukhumvit-set/sukhumvit-set.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

