/* COLORS */

$primary-color: #DCAC9B;
$secondary-color: #ffffff;
$third-color: #1A1A1A;
$border-color: #8E8E8E;


/* Levels opacity */

$first-level-opacity: 0.08;
$second-level-opacity: 0.16;
$third-level-opacity: 0.24;
$fourth-level-opacity: 0.32;
$fifth-level-opacity: 0.4;
$sixth-level-opacity: 0.48;