@import 'variables';
@import 'mixins';
@import 'fonts';


*{
    margin: 0px;
}

body, html {
    height: 100%;
    width: 100%; 
}

html {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.apple-icon {
    display: flex;
    background: url(../images/apple.svg);
    background-repeat: no-repeat;
}

.google-icon {
    display: flex;
    background: url(../images/google-play.svg);
    background-repeat: no-repeat;
}

.content-center {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    border:none;
}



/* Header styles start */

.header {
    width: 100%;
    position: absolute;
    margin-top: 80px;
}

.header-nav-phone {
    display: none;
}

.wrapper {
    max-width: 1690px;
    width: 100%;
    margin: 0 auto;
}



.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header-list {
    display: flex;
    flex-wrap: wrap;
}

.header-item {
    margin-right: 63px;
    list-style-type: none;
}

.header-item:last-child {
    margin: 0;
}

.header-link {
    font-family: 'Sukhumvit Set';
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 24px;
    color: $secondary-color;
    text-decoration: none;
    padding-left: 30px;
    @include header-link ($sixth-level-opacity)
}




/* Header styles End */

/* Intro styles Start */

.main {
    display: block;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url(../images/main-image.jpg);
    -webkit-background-size: cover;
    background-size: cover;
}




.main-heading {
    position: relative;
    font-family: 'Saudagar';
    font-weight: normal;
    font-size: 17.1rem;
    line-height: 100%;
    text-transform: uppercase;
    color: $secondary-color;
    margin-bottom: 40px;
}



.intro-text {
    font-family: 'Sukhumvit Set';
    font-weight: 300;
    font-size: 2rem;
    line-height: 130%;
    text-transform: uppercase;
    color: $secondary-color;
    margin-bottom: 70px;
}



.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-primary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Sukhumvit Set';
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 172%;


    border-radius: 2px;
    background: $primary-color;
    color: $third-color;
}

.button-intro {
    width: 282px;
    height: 59px;
}


/* Intro styles End */

/* Comming soon Start */

.comming-soon-page {
    display: block;
    width: 100%;
    background: $third-color;
    -webkit-background-size: cover;
    background-size: cover;
    height: 130vh;
}

.comming-soon-heading {
    font-family: 'Saudagar';
    font-weight: normal;
    text-align: center;
    width: 100%;
    font-size: 14vw;
    line-height: 100%;
    color: $secondary-color;
    opacity: 0.06;
    text-transform: uppercase;
    margin-bottom: 211px;
    white-space: pre;
}

.comming-soon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.comming-soon-heading2 {
    font-family: 'Saudagar';
    max-width: 800px;
    font-size: 3rem;
    text-transform: uppercase;
    color:$secondary-color;
    margin-bottom: 46px;
}

.comming-soon-text {
    font-family: 'Sukhumvit Set';
    font-weight: 300;
    font-size: 1.37rem;
    line-height: 172%;
    max-width: 810px;
    font-weight: 400;
    color:$secondary-color;
    opacity: 0.8;
}

.comming-soon-image {
    max-width: 1520px;
    width: 100%;
    height: auto;
    position: relative;
    transform: translateY(-100px);
    margin-bottom: 300px;
    object-fit: cover;
}
/* Comming soon End */



/* Schedule Start */


.cards {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1320px;
    width: 100%;
    margin-bottom: 245px;
}


.card-schedule-image {
    max-width: 600px;
    width: 100%;
    height: 330px;
}

.card-primary-text {
    max-width: 580px;
    width: 100%;
    height: 330px;
    margin-bottom: 100px;
}

.heading {
    font-family: 'Saudagar';
    font-weight: normal;
    font-size: 1.9rem;
    line-height: 150%;
    color: $primary-color;
}

.card-primary-text:hover {
    animation-name: skills-animation;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes skills-animation {
    0% {
        left: 0px;
    }
    100% {
        margin-left: 100px;
    }
}


.title {
    font-family: 'Saudagar';
    font-weight: normal;
    font-size: 3.1rem;
    line-height: 130%;
    text-transform: uppercase;
    color: $third-color;
}

.schedule-title {
    margin-bottom: 47px;
}


.text {
    font-family: 'Sukhumvit Set';
    font-weight: 300;
    max-width: 450px;
    font-size: 1.3rem;
    line-height: 172%;
}


/* Schedule End */

/* Money page Start */

.bg-money {
    background:$third-color;
    width: 100%; 
    height: 950px;
    display: flex; 
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 285px;
}

.cards-money {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    max-width: 1320px;
    width: 100%;
    margin-bottom: 245px;
}

.money-heading {
    margin-top: 100px;
}
.money-title {
    color: $secondary-color;
    max-width: 390px;
    margin-bottom: 47px;
}
.money-text {
    color: $secondary-color;
}

.card-money-image {
    
    width: 580px;
    height: auto;
    transform: translateY(-75px);
}

.card-money-image-mobile{
    display: none;
}
/* Money page End*/

/* Skills personal start*/

.cards-skills {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1520px;
    width: 100%;
    margin-bottom: 245px;
}

.skills-title {
    text-transform: uppercase;
    max-width: 390px;
    margin-bottom: 47px;
}
.skills-text {
    max-width: 450px;
}
/* Skills personal End */


/* Circles Start */


.circles-wrap {
    overflow: hidden;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 200px;
}

.circle-animation {
    background: $primary-color;
    animation-name: circle-bg;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.circle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);   
    width: 541px;
    height: 541px;
    border-radius: 50%;

   
    &:first-child {
        transform: translate3d(-100%, -50%, 0);
        margin-right: 37px;
    }
    &:nth-child(3){
        transform: translate3d(100%, -50%, 0);
        margin-left: 37px;
    }
}


.circle-slice {
    width: 541px;
    height: 541px;
    animation-name: circle-rotate;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.circle-slice-mobile {
    display: none;
}

.phone {
    z-index: 1;
    margin: 0 auto;
    width: 362px;
    height: 756px;
}

.phone-mobile {
    display: none;
}

.circle:hover {
    animation-play-state: paused;
}

@keyframes circle-rotate {
    0% {
        transform: rotate(0deg);
        
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes circle-bg {
    0%{
        background: purple;
    }
    15% {
        background: blue;
    }
    30% {
        background: skyblue;
    }
    45%{
        background: yellow;
    }
    50%{ border-radius: 0%;}
    60% {
        background: orange;
    }
    75% {
        background: red;
    }
    100% {
        background: purple;
    }
}

.install-buttons {
    display: block;
}

.comming-soon-app {
    text-align: center;
    font-family: 'Sukhumvit Set';
    font-size: 1.6rem;
    line-height: 130%;
    text-transform: uppercase;
}

.link-app {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 200px;
}

.text-button {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Sukhumvit Set';
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 24px;
    color: white;
    
    width: 182px;
    height: 52px;
    background-color: black;

    margin-right: 20px;
    border-radius: 2px;
}
.text-button:last-child {
    margin-right: 0;
}

.icon-button {
    margin-right: 10px;
}
/* Circles End */


/* Info Blank Start */
.container-sub {
    display: flex;
    flex-direction: row;
    width: 100%;
}


.info-blank1 {
    width: 50%;
    height: 1080px;
    background: url(../images/sub-image.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.info-blank2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background: $third-color;
}

.sub-text {
    font-family: 'Saudagar';
    font-weight: 400;
    margin: 20px;
    font-size: 3.1rem;
    line-height: 130%;
    text-transform: uppercase;
    color: $secondary-color;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-sub {
    max-width: 560px;
    width: 100%;
    height: 59px;
    margin: 0 auto;
}

.input-form {
    display: block;
    border: none;

    max-width: 600px;
    width: 100%;
}

.input-field {
    width: 556px;
    height: 59px;
    margin: 20px;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: 'Sukhumvit Set';
    font-weight: 300;
    font-size: 1rem;
    line-height: 165%;
    text-transform: uppercase;
    color: $border-color;
}

.input-field::placeholder {
    font-family: 'Sukhumvit Set';
    font-weight: 300;
    font-size: 1rem;
    line-height: 165%;
    text-transform: uppercase;
    color: $border-color;
}

.drop-down {
    width: 556px;
    height: 59px;
    border-bottom: 1px solid $border-color;
    margin: 20px;
}
.drop-down-text {
    display: flex;
    justify-content: space-between;


    padding-top: 14px;
    font-family: 'Sukhumvit Set';
    font-weight: 300;
    font-size: 1rem;
    line-height: 165%;
    text-transform: uppercase;
    color: $border-color;
}

/* Info Blank End */

/* Footer Start */

.footer-container {
    width: 100%;
    height: 110px;
    background: black;
}

.footer-text {
    font-family: 'Sukhumvit Set';
    font-size: 1rem;
    line-height: 165%;
    text-align: center;
    color: $secondary-color;
}

.footer-space {
    display: flex;
    justify-content: space-between;

    padding-right: 70px;
    padding-left: 70px;
    padding: 41px;
}

.logo-footer {
    display: block;
}

.logo-footer-mobile{
    display:none;
}

/* Footer End */

@media screen and (max-width: 1200px){
    .info-blank1 {
        display: none;
    }
    .info-blank2{
        width: 100%;
    }
}

@media screen and (max-width: 992px) {

    .wrapper{
        max-width: 768px;
    }
    .main-heading {
        font-size: 100px;
    }
    .header-list {
        padding-left: 0;
    }
    .header-item{
        margin: 0;
        margin-top: 102px;
    }

    #comming {
        padding-left: 0px;
    }

    .header-item:last-child {
        margin: 0;
        margin-top: 102px;
    }
    
    .header-link {
        padding-left: 15px;
        font-size: 0.75rem;
    }
    
    .intro-text {
        font-size: 1.1rem;
        text-align: center;
    }


}

@media screen and (max-width: 575px) {
    .wrapper{
        max-width: 335px;
    }
    .header-logo {
        width: 98;
        margin: 0 auto;
    }

    .header-nav{
        display: none;
    }
    .header-nav-phone {
        display: block;
    }

    .comming-soon-page {
        height: 80vh;
    }

    .comming-soon-container>p {
        max-width: 301px;
        width: 100%;
    }
    @keyframes skills-animation {
        0% {
            left: 0px;
        }
        100% {
            margin-left: 10px;
        }
    }
    

    .comming-soon-heading {
        margin-bottom: 50px;
    }

    .comming-soon-heading2 {
        font-size: 25px;
        margin-bottom: 35px;
    }
    .comming-soon-text {
        text-align: center;
        font-size: 14px;
    }

    .comming-soon-image {
        margin-bottom: 78px;
    }

    .cards {
        display: flex;
        flex-direction: column-reverse;
        max-width: 335px;
        width: 100%;
        margin: 0 auto;
    }

    .card-primary-text{
        height: 145px;
    }

    .card-schedule-image {
        height: 183px;
        margin-bottom: 66px;
    }

    .heading {
        font-size: 14px;
    }

    .title {
        font-size: 25px;
    }

    .text {
        font-size: 14px;
    }

    .bg-money{
        display: block;
        height: 30vh;
    }

    .cards-money {
        display: block;
    }

    .money-heading {
        margin-top: 0;
        padding-top: 50px;
    }

    .money-text {
        max-width: 288px;
        margin-bottom: 50px;
    }

    .cards-money {
        display: block;
        max-width: 335px;
        width: 100%;
        margin: 0 auto;
    }

    .card-money-image {
        display: none;
    }

    .card-money-image-mobile {
        display: block;
        width: 100%;
        height: 206px;
        margin-bottom: 54px;
    }

    .cards-skills {
        display: block;
        max-width: 335px;
        width: 100%;
        margin: 0 auto;
    }

    .skills-title {
        margin-bottom: 7px;
    }

    .skills-text {
        max-width: 300px;
    }

    .card-primary-text {
        margin-bottom: 40px;
    }
    .phone {
        display: none;
    }
    .phone-mobile {
        display: block;
        z-index: 1;
    }

    .circles-wrap {
        margin-bottom: 50px;
    }

    .circle {
        width: 202px;
        height: 202px;
    }
    .circle-slice {
        display: none;
    }

    .circle-slice-mobile {
        display: block;
        width: 202px;
        height: 202px;
        transform: translateX(-30%);
    }

    .comming-soon-app {
        font-size: 12px;
    }
    .link-app {
        margin-top: 14,5px;
        margin-bottom: 70px;
    }
    .text-button {
        font-size: 12px;
        line-height: 15,6px;

        width: 158.78px;
        height: 45.36px;

        margin-right: 17px;
    }
    
    .text-button:last-child{
        margin-right: 0px;
    }

    .button-sub {
        margin-top: 30px;
        max-width: 335px;
        width: 100%;
        margin-bottom: 70px;
    }

    .input-form {
        max-width: 335px;
    }

    .input-field {
        max-width: 335px;
        width: 100%;
    }
    .sub-text {
        max-width: 335px;
        font-size: 25px;
        line-height: 32,5px;
        margin: 0;
        margin-top: 50px;
    }

    .drop-down {
        width: 335px;
    }

    .footer-text {
        font-size: 10px;
        line-height: 165%;
    }
    .footer-container {
        display: flex;
        justify-content:center;
        align-items:center;
        width: 100%;
        height: 95px;
    }

    .footer-space {        
        width: 100%;
        padding:20px;
    }

    .logo-footer {
        display: none;
    }

    .logo-footer-mobile {
        display: block;
    }
}