:root{
	--Primary: #0052FF;
	--Primary-opacity-8: rgba(0, 82, 255, 0.08);
	--Primary-opacity-16: rgba(0, 82, 255, 0.16);
	--Primary100: #E6EEFF;
	--Primary200:#B3CBFF;
	--Primary300: #80A9FF;
	--Primary900: #00194C;
	--Secondary: #FE9526;
	--Info: #FFCB2F;
	--Success: #53D86A;
	--Error: #FF3434;

	--var-bottom-border: inset 0px -1px 0px #EAEAEA;
	--var-bottom-level1: 0px 2px 10px rgba(25, 1, 52, 0.12);
	--var-bottom-level2: 0px 4px 10px rgba(1, 21, 52, 0.16);
	--var-top-border: inset 0px 1px 0px #EAEAEA;
	--var-top-level1: 0px -2px 10px rgba(25, 1, 52, 0.12);
	--var-top-level2: 0px -4px 10px rgba(25, 1, 52, 0.16);
}

* {
	margin: 0px;
}

/*Heading styles*/

.p1, .p2, .p3, h1, p{
	font-family: Inter;
}

h1{
	font-size: 32px;
	line-height: 42px;
}

p{
	font-size: 16px;
	line-height: 24px;
}

.p1{
	font-size: 20px;
	line-height: 28px;
}

.p2{
	font-size: 18px;
	line-height: 26px;
}

.p3{
	font-size: 16px;
	line-height: 24px;
}

.p4{
	font-size: 14px;
	line-height: 22px;
}

h2, h3, h4, h5, h6{
	font-family: SF Pro Display;
	margin: 0px;
}

h2{
	font-size: 28px;
	line-height: 36px;
}

h3{
	font-size: 22px;
	line-height: 30px;
}

h4{
	font-size: 20px;
	line-height: 28px;
}

h5{
	font-size: 18px;
	line-height: 26px;
}


h6{ 
	font-size: 16px;
	line-height: 24px;
}

/* line class*/

.lineClass {
	border: 1px solid rgba(0, 82, 255, 0.16);
}

/*------------------------------*/

/* TYPOGRAPHY elements 

header elements*/

.flex{
	display: flex;
}

.start {
	width: 100%;
	height: 70px;
	background: #E6EEFF;
}

.styleName, .fontSize, .lineHeight, .sampleClass{
	padding: 20px;
}

.styleName {
	flex: 3;
}

.fontSize, .lineHeight{
	flex: 1;
}

.sampleClass {
	flex: 13;
}

/*COLORS elements*/


.wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(550px, auto);
}
.wrapper > div {
    padding: 1em;
}

.wrapper-other-colors{
    display: flex;
}

.wrapper-primary {
    display: grid;
    margin: 1em;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 2em);
    grid-auto-rows: 2em;
}

.main-block {
    width: 6em;
    height: 7em;
    border: 1px solid var(--Primary100);
	border-radius: 4px 4px 0px 0px;
}

.rectangle-block{
    width: 6em;
    height: 2em;
    border: 1px solid var(--Primary100);
	border-radius: 0px 0px 4px 4px;
}

.radius-mini-blocks{
	border-radius: 2px;
}

.text-color-name{
	height: 15px;
	color: var(--Primary900);
}

.code-color{
	height: 15px;
    opacity: 50%;
}

#main-block-primary{
    background: var(--Primary);
}

#main-block-secondary{
    background: var(--Secondary);
}

#main-block-info{
    background: var(--Info);
}

#main-block-success{
    background: var(--Success);
}

#main-block-error{
    background: var(--Error);
}

/*primary colors*/

#value-primary-100{
	background: var(--Primary100);
}

#value-primary-200{
	background: #B3CBFF;;
}

#value-primary-300{
	background: #80A9FF;;
}

#value-primary-400{
	background: #4D86FF;;
}

#value-primary-500{
	background: #0052FF;;
}

#value-primary-600{
	background: #004AE6;;
}

#value-primary-700{
	background: #0039B3;;
}

#value-primary-800{
	background: #002980;;
}

#value-primary-900{
	background: var(--Primary900);
}

#opacity-primary-8{
	background: rgba(0, 82, 255, 0.08);
}

#opacity-primary-16{
	background: rgba(0, 82, 255, 0.16);
}

#opacity-primary-24{
	background: rgba(0, 82, 255, 0.24);
}

#opacity-primary-32{
	background: rgba(0, 82, 255, 0.32);
}

#opacity-primary-40{
	background: rgba(0, 82, 255, 0.4);
}

#opacity-primary-48{
	background: rgba(0, 82, 255, 0.48);
}

/* value secondary color */

#value-secondary-100{
	background: #FFF4E9;
}

#value-secondary-200{
	background: #FFDFBE;
}

#value-secondary-300{
	background: #FFCA93;
}

#value-secondary-400{
	background: #FEB567;
}

#value-secondary-500{
	background: #FEA03C;
}

#value-secondary-600{
	background: #E58622;
}

#value-secondary-700{
	background: #B2681B;
}

#value-secondary-800{
	background: #7F4B13;
}

#value-secondary-900{
	background: #331E08;
}

#opacity-secondary-8{
	background: rgba(254, 149, 38, 0.08);
}

#opacity-secondary-16{
	background: rgba(254, 149, 38, 0.16);
}

#opacity-secondary-24{
	background: rgba(254, 149, 38, 0.24);
}

#opacity-secondary-32{
	background: rgba(254, 149, 38, 0.32);
}

#opacity-secondary-40{
	background: rgba(254, 149, 38, 0.40);
}

#opacity-secondary-48{
	background: rgba(254, 149, 38, 0.48);
}

/* info value color */

#value-info-100{
	background: #FFFAEA;
}

#value-info-200{
	background: #FFEFC1;
}

#value-info-300{
	background: #FFE597;
}

#value-info-400{
	background: #FFDB6D;
}

#value-info-500{
	background: #FFD044;
}

#value-info-600{
	background: #E6B72A;
}

#value-info-700{
	background: #B38E21;
}

#value-info-800{
	background: #806618;
}

#value-info-900{
	background: #332909;
}

#opacity-info-8{
	background: rgba(255, 203, 47, 0.08);
}

#opacity-info-16{
	background: rgba(255, 203, 47, 0.16);
}

#opacity-info-24{
	background: rgba(255, 203, 47, 0.24);
}

#opacity-info-32{
	background: rgba(255, 203, 47, 0.32);
}

#opacity-info-40{
	background: rgba(255, 203, 47, 0.40);
}

#opacity-info-48{
	background: rgba(255, 203, 47, 0.48);
}

/* success value color */

#value-success-100{
	background: #EEFBF0;
}

#value-success-200{
	background: #CBF3D2;
}

#value-success-300{
	background: #A9ECB5;
}

#value-success-400{
	background: #87E497;
}

#value-success-500{
	background: #64DC79;
}

#value-success-600{
	background: #4BC25F;
}

#value-success-700{
	background: #3A974A;
}

#value-success-800{
	background: #21562A;
}

#value-success-900{
	background: #112B15;
}

#opacity-success-8{
	background: rgba(83, 216, 106, 0.08);
}

#opacity-success-16{
	background: rgba(83, 216, 106, 0.16);
}

#opacity-success-24{
	background: rgba(83, 216, 106, 0.24);
}

#opacity-success-32{
	background: rgba(83, 216, 106, 0.32);
}

#opacity-success-40{
	background: rgba(83, 216, 106, 0.40);
}

#opacity-success-48{
	background: rgba(83, 216, 106, 0.48);
}

/* error value color */

#value-error-100{
	background: #FFEBEB;
}

#value-error-200{
	background: #FFC2C2;
}

#value-error-300{
	background: #FF9A9A;
}

#value-error-400{
	background: #FF7171;
}

#value-error-500{
	background: #FF4848;
}

#value-error-600{
	background: #E62F2F;
}

#value-error-700{
	background: #B32424;
}

#value-error-800{
	background: #801A1A;
}

#value-error-900{
	background: #330A0A;
}

#opacity-error-8{
	background: rgba(255, 52, 52, 0.08);
}

#opacity-error-16{
	background: rgba(255, 52, 52, 0.16);
}

#opacity-error-24{
	background: rgba(255, 52, 52, 0.24);
}

#opacity-error-32{
	background: rgba(255, 52, 52, 0.32);
}

#opacity-error-40{
	background: rgba(255, 52, 52, 0.40);
}

#opacity-error-48{
	background: rgba(255, 52, 52, 0.48);
}

/* SHADOWS */

.shadow-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 400px);
    justify-content: center;
}

.shadow-wrapper > div {
    width: 100px;
    height: 100px;
    margin: 30px;
    background: #F2F2F2;
}

#box-bottom-border{
	box-shadow: var(--var-bottom-border);
}

#box-top-border{
	box-shadow: var(--var-top-border);
}

#box-bottom-level1{
	box-shadow: var(--var-bottom-level1);
}

#box-bottom-level2{
	box-shadow: var(--var-bottom-level2);
}

#box-top-level1{
	box-shadow: var(--var-top-level1);
}

#box-top-level2{
	box-shadow: var(--var-top-level2);
}

/*Buttons*/

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
}

button {
    margin: 2em;
    height: 70px;
    width: 200px;
	display: flex;
	justify-content:center;
	align-items: center;
	border: 1px solid #0052FF;
	border-radius: 4px;
}

img{
	padding: 5px;
}

.button-primary {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--Primary100);
	background: var(--Primary);
}

.button-primary:hover {
    background: var(--Primary300);
}

.button-primary:focus{
	background: var(--Primary300);
}

.button-ghost{
	color: var(--Primary300);
	background: #ffffff;
}

.button-ghost:hover {
	background: var(--Primary-opacity-16);
}

.button-ghost:focus {
	background: var(--Primary-opacity-16);
}

.button-ghost-icon:hover{
	border-color: #ffffff;
}

.button-ghost-icon:focus{
	border-color: #ffffff;
}

button:disabled{
	color: var(--Primary300);
	background: var(--Primary-opacity-8);
}

/*input*/

.input-grid {
	margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-gap: 1em;
    grid-auto-rows: minmax(50px, auto);
}

.input-grid div {
	display: flex;
	flex-direction: column;
}

.text-error-input {
	color: var(--Error);
	padding-left: 15px;
}

.text-info-input {
	color: var(--Info);
	padding-left: 15px;
}


.input-main {
	margin: 10px;
	border: 1px solid var(--Primary200);
	width: 300px;
	height: 60px;
	box-sizing: border-box;
	border-radius: 4px;
	outline: none;
	font-size: 24px;
	padding: 7px;
}

.input-primary:hover{
	border: 3px solid var(--Primary);
}

.input-primary:focus{
	border: 3px solid var(--Primary);
}

.input-error{
	border: 2px solid var(--Error);
	color: var(--Error);
}

.input-success{
	border: 2px solid var(--Success);
	color: var(--Success);
}

.input-info {
	border: 2px solid var(--Info);
	color: var(--Info);
}

.input-error::placeholder{
	color: var(--Error);
}

.input-success::placeholder{
	color: var(--Success);
}

.input-info::placeholder{
	color: var(--Info);
}

.input-icon-l {
	padding-left: 45px;
}

.input-icon-r {
	padding-right: 45px;
}

input:disabled{
	background-color: #fff;
}

#icon-user{
	background: url(images/user.svg) no-repeat 20px;
	background-position: 13px 17px;
}

#icon-user-info {
	background: url(images/user-info.svg) no-repeat 20px;
	background-position: 13px 17px;
}
#icon-user-success {
	background: url(images/user-success.svg) no-repeat 20px;
	background-position: 13px 17px;
}

#icon-user-error {
	background: url(images/user-error.svg) no-repeat 20px;
	background-position: 13px 17px;
}

#icon-eye{
	background: url(images/eye.svg) no-repeat 20px;
	background-position: 265px 20px;
}

#icon-eye-info {
	background: url(images/eye-info.svg) no-repeat 20px;
	background-position: 265px 20px;
}
#icon-eye-success {
	background: url(images/eye-success.svg) no-repeat 20px;
	background-position: 265px 20px;
}

#icon-eye-error {
	background: url(images/eye-error.svg) no-repeat 20px;
	background-position: 265px 20px;
}

/* Select */

.dropbtn {
	color: var(--Primary);
	width: 200px;
	padding: 16px;
	font-size: 16px;
	border: 1px solid #0052FF;
	border-radius: 4px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
}
  
.dropdown {
	margin: 50px;
	display: flex;
	flex-direction: column;
}
  
.dropdown-content {
	display: none;
	margin: 2px;
	border-radius: 4px;
	background-color: pink;
	width: 230px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
  
.dropdown-content a {
	color: var(--Primary900);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	border-bottom: 1px solid var(--Primary100);
}
  
.dropdown a:hover {background-color: #ddd;}
  
.show {display: block;}

  /* Checkbox */
.checkbox-option label{
	display: flex;
	flex-direction: column;
	margin: 50px;
}

.check-input {
	-webkit-appearance: none;
}

.check-box {
	width: 24px;
	height: 24px;
	background: url(images/checkbox-off.svg);
}

.check-input:checked + .check-box {
	background: url(images/checkbox-on.svg);
}

.check-input:disabled + .check-box {
	background: url(images/checkbox-off-disabled.svg);
}

.check-input:checked:disabled + .check-box {
	background: url(images/checkbox-on-disabled.svg);
}

.radio-box {
	width: 24px;
	height: 24px;
	background: url(images/radio-off.svg);
}

.check-input:checked + .radio-box {
	background: url(images/radio-on.svg);
}

.check-input:disabled + .radio-box {
	background: url(images/radio-off-disabled.svg);
}

.check-input:checked:disabled + .radio-box {
	background: url(images/radio-on-disabled.svg);
}

  /* Switch */

.switch {
	position: relative;
	display: inline-block;
	width: 110px;
	height: 60px;
	margin: 50px;
}

.slider-box {
	position: absolute;
	cursor: pointer; 
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: .4s;
	border-radius: 34px;
}

.switch input {-webkit-appearance: none;}

.slider-box::before{
	position: absolute;
	content: "";
	height: 50px;
	width: 50px;
	left: 5px;
	bottom: 5px;
	background-color: #fff;
	transition: 0.4s;
	border-radius: 50px;
}

input:checked + .slider-box {
	background-color: #ccc;
}

input:checked + .slider-box::before {
	background-color: var(--Primary);
	transform: translateX(50px);
}