:root{
	--Primary: #0052FF;
	--Primary-opacity-8: rgba(0, 82, 255, 0.08);
	--Primary-opacity-16: rgba(0, 82, 255, 0.16);
	--Primary-opacity-24: rgba(0, 82, 255, 0.24);
	--Primary-opacity-32: rgba(0, 82, 255, 0.32);
	--Primary-opacity-40: rgba(0, 82, 255, 0.4);
	--Primary-opacity-48: rgba(0, 82, 255, 0.48);
	--Primary100: #E6EEFF;
	--Primary200:#B3CBFF;
	--Primary300: #80A9FF;
	--Primary400: #4D86FF;
	--Primary500:#0052FF;
	--Primary600:#004AE6;
	--Primary700:#0039B3;
	--Primary800:#002980;
	--Primary900: #00194C;
	--Secondary: #FE9526;
	--Secondary100: #FFF4E9;
	--Secondary200: #FFDFBE;
	--Secondary300: #FFCA93;
	--Secondary400: #FEB567;
	--Secondary500: #FEA03C;
	--Secondary600: #E58622;
	--Secondary700: #B2681B;
	--Secondary800: #7F4B13;
	--Secondary900: #331E08;
	--Secondary-opacity-8: rgba(254, 149, 38, 0.08);
	--Secondary-opacity-16: rgba(254, 149, 38, 0.16);
	--Secondary-opacity-24: rgba(254, 149, 38, 0.24);
	--Secondary-opacity-32: rgba(254, 149, 38, 0.32);
	--Secondary-opacity-40: rgba(254, 149, 38, 0.4);
	--Secondary-opacity-48: rgba(254, 149, 38, 0.48);
	--Info: #FFCB2F;
	--Info100: #FFFAEA;
	--Info200: #FFEFC1;
	--Info300: #FFE597;
	--Info400: #FFDB6D;
	--Info500: #FFD044;
	--Info600: #E6B72A;
	--Info700: #B38E21;
	--Info800: #806618;
	--Info900: #332909;
	--Info-opacity-8: rgba(255, 203, 47, 0.08);
	--Info-opacity-16: rgba(255, 203, 47, 0.16);
	--Info-opacity-24: rgba(255, 203, 47, 0.24);
	--Info-opacity-32: rgba(255, 203, 47, 0.32);
	--Info-opacity-40: rgba(255, 203, 47, 0.4);
	--Info-opacity-48: rgba(255, 203, 47, 0.48);
	--Success: #53D86A;
	--Success100: #EEFBF0;
	--Success200: #CBF3D2;
	--Success300: #A9ECB5;
	--Success400: #87E497;
	--Success500: #64DC79;
	--Success600: #4BC25F;
	--Success700: #3A974A;
	--Success800: #21562A;
	--Success900: #112B15;
	--Success-opacity-8: rgba(83, 216, 106, 0.08);
	--Success-opacity-16: rgba(83, 216, 106, 0.16);
	--Success-opacity-24: rgba(83, 216, 106, 0.24);
	--Success-opacity-32: rgba(83, 216, 106, 0.32);
	--Success-opacity-40: rgba(83, 216, 106, 0.4);
	--Success-opacity-48: rgba(83, 216, 106, 0.48);
	--Error: #FF3434;
	--Error100: #FFEBEB;
	--Error200: #FFC2C2;
	--Error300: #FF9A9A;
	--Error400: #FF7171;
	--Error500: #FF4848;
	--Error600: #E62F2F;
	--Error700: #B32424;
	--Error800: #801A1A;
	--Error900: #330A0A;
	--Error-opacity-8: rgba(255, 52, 52, 0.08);
	--Error-opacity-16: rgba(255, 52, 52, 0.16);
	--Error-opacity-24: rgba(255, 52, 52, 0.24);
	--Error-opacity-32: rgba(255, 52, 52, 0.32);
	--Error-opacity-40: rgba(255, 52, 52, 0.4);
	--Error-opacity-48: rgba(255, 52, 52, 0.48);

	--shadow-bottom-border: inset 0px -1px 0px #EAEAEA;
	--shadow-bottom-level1: 0px 2px 10px rgba(25, 1, 52, 0.12);
	--shadow-bottom-level2: 0px 4px 10px rgba(1, 21, 52, 0.16);
	--shadow-top-border: inset 0px 1px 0px #EAEAEA;
	--shadow-top-level1: 0px -2px 10px rgba(25, 1, 52, 0.12);
	--shadow-top-level2: 0px -4px 10px rgba(25, 1, 52, 0.16);
}

* {
	margin: 0px;
}

/*Heading styles*/

.p1, .p2, .p3, h1, p{
	font-family: Inter;
}

h1{
	font-size: 32px;
	line-height: 42px;
}

p{
	font-size: 16px;
	line-height: 24px;
}

.p1{
	font-size: 20px;
	line-height: 28px;
}

.p2{
	font-size: 18px;
	line-height: 26px;
}

.p3{
	font-size: 16px;
	line-height: 24px;
}

.p4{
	font-size: 14px;
	line-height: 22px;
}

h2, h3, h4, h5, h6{
	font-family: SF Pro Display;
	margin: 0px;
}

h2{
	font-size: 28px;
	line-height: 36px;
}

h3{
	font-size: 22px;
	line-height: 30px;
}

h4{
	font-size: 20px;
	line-height: 28px;
}

h5{
	font-size: 18px;
	line-height: 26px;
}


h6{ 
	font-size: 16px;
	line-height: 24px;
}

/* line class*/

.lineClass {
	border: 1px solid var(--Primary-opacity-16);
}

/*------------------------------*/

/* TYPOGRAPHY elements 

header elements*/

.flex{
	display: flex;
}

.start {
	height: 67px;
	background: var(--Primary100);
}

.space-elements{
	padding: 20px;
}

.styleName {
	flex: 4;
	width: 255px;
	padding-left: 98px;
	padding-bottom: 40px;
}

.fontSize{
	flex: 2;
	width: 70px;
}
.lineHeight{
	flex: 2;
	width: 90px;
}

.sampleClass {
	flex: 17;
	width: 540px;
}

/*COLORS elements*/

.wrapper{
    display: grid;
    grid-template-columns: repeat(2, 660px);
    grid-auto-rows: minmax(446px, auto);
}
.wrapper > div {
	margin-top: 80px;
    margin: 80px;
}

.wrapper-text-color{
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 24px;
	padding-top: 12px;
}

.wrapper-other-colors{
    display: flex;
}

.wrapper-primary {
    display: grid;
	margin-left: 48px;
    grid-row-gap: 16px;
	grid-column-gap:59px;
    grid-template-columns: repeat(2, 48px);
    grid-auto-rows: 48px;
}

.main-block {
    width: 130px;
    height: 130px;
    border: 1px solid var(--Primary100);
	border-radius: 4px 4px 0px 0px;
}

.rectangle-block{
	display: flex;
	flex-direction: column;
    width: 130px;
    height: 48px;
    border: 1px solid var(--Primary100);
	border-radius: 0px 0px 4px 4px;
}

.radius-mini-blocks{
	border-radius: 2px;
}

.text-color-name{
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	height: 17px;
	margin-top: 10px;
	margin-left: 10px;
	color: var(--Primary900);
}

.code-color{
	font-size: 13px;
	line-height: 16px;
	margin-left: 8.5px;
	height: 16px;
    opacity: 50%;
}

.main-block-primary{
    background: var(--Primary);
}

.main-block-secondary{
    background: var(--Secondary);
}

.main-block-info{
    background: var(--Info);
}

.main-block-success{
    background: var(--Success);
}

.main-block-error{
    background: var(--Error);
}

/*primary colors*/

.value-primary-100{
	background: var(--Primary100);
}

.value-primary-200{
	background: var(--Primary200);
}

.value-primary-300{
	background: var(--Primary300);
}

.value-primary-400{
	background: var(--Primary400);
}

.value-primary-500{
	background: var(--Primary500);
}

.value-primary-600{
	background: var(--Primary600);
}

.value-primary-700{
	background: var(--Primary700);
}

.value-primary-800{
	background: var(--Primary800);
}

.value-primary-900{
	background: var(--Primary900);
}

.opacity-primary-8{
	background: var(--Primary-opacity-8)
}

.opacity-primary-16{
	background: var(--Primary-opacity-16);
}

.opacity-primary-24{
	background: var(--Primary-opacity-24);
}

.opacity-primary-32{
	background: var(--Primary-opacity-32);
}

.opacity-primary-40{
	background: var(--Primary-opacity-40);
}

.opacity-primary-48{
	background: var(--Primary-opacity-48);
}

/* value secondary color */

.value-secondary-100{
	background: var(--Secondary100);
}

.value-secondary-200{
	background: var(--Secondary200);
}

.value-secondary-300{
	background: var(--Secondary300);
}

.value-secondary-400{
	background: var(--Secondary400);
}

.value-secondary-500{
	background: var(--Secondary500);
}

.value-secondary-600{
	background: var(--Secondary600);
}

.value-secondary-700{
	background: var(--Secondary700);
}

.value-secondary-800{
	background: var(--Secondary800);
}

.value-secondary-900{
	background: var(--Secondary900);
}

.opacity-secondary-8{
	background: var(--Secondary-opacity-8);
}

.opacity-secondary-16{
	background: var(--Secondary-opacity-16);
}

.opacity-secondary-24{
	background: var(--Secondary-opacity-24);
}

.opacity-secondary-32{
	background: var(--Secondary-opacity-32);
}

.opacity-secondary-40{
	background: var(--Secondary-opacity-40);
}

.opacity-secondary-48{
	background: var(--Secondary-opacity-48);
}

/* info value color */

.value-info-100{
	background: var(--Info100);
}

.value-info-200{
	background: var(--Info200);
}

.value-info-300{
	background: var(--Info300);
}

.value-info-400{
	background: var(--Info400);
}

.value-info-500{
	background: var(--Info500);
}

.value-info-600{
	background: var(--Info600);
}

.value-info-700{
	background: var(--Info700);
}

.value-info-800{
	background: var(--Info800);
}

.value-info-900{
	background: var(--Info900);
}

.opacity-info-8{
	background: var(--Info-opacity-8);
}

.opacity-info-16{
	background: var(--Info-opacity-16);
}

.opacity-info-24{
	background: var(--Info-opacity-24);
}

.opacity-info-32{
	background: var(--Info-opacity-32);
}

.opacity-info-40{
	background: var(--Info-opacity-40);
}

.opacity-info-48{
	background: var(--Info-opacity-48);
}

/* success value color */

.value-success-100{
	background: var(--Success100);
}

.value-success-200{
	background: var(--Success200);
}

.value-success-300{
	background: var(--Success300);
}

.value-success-400{
	background: var(--Success400);
}

.value-success-500{
	background: var(--Success500);
}

.value-success-600{
	background: var(--Success600);
}

.value-success-700{
	background: var(--Success700);
}

.value-success-800{
	background: var(--Success800);
}

.value-success-900{
	background: var(--Success900);
}

.opacity-success-8{
	background: var(--Success-opacity-8);
}

.opacity-success-16{
	background: var(--Success-opacity-16);
}

.opacity-success-24{
	background: var(--Success-opacity-24);
}

.opacity-success-32{
	background: var(--Success-opacity-32);
}

.opacity-success-40{
	background: var(--Success-opacity-40);
}

.opacity-success-48{
	background: var(--Success-opacity-48);
}

/* error value color */

.value-error-100{
	background: var(--Error100);
}

.value-error-200{
	background: var(--Error200);
}

.value-error-300{
	background: var(--Error300);
}

.value-error-400{
	background: var(--Error400);
}

.value-error-500{
	background: var(--Error500);
}

.value-error-600{
	background: var(--Error600);
}

.value-error-700{
	background: var(--Error700);
}

.value-error-800{
	background: var(--Error800);
}

.value-error-900{
	background: var(--Error900);
}

.opacity-error-8{
	background: var(--Error-opacity-8);
}

.opacity-error-16{
	background: var(--Error-opacity-16);
}

.opacity-error-24{
	background: var(--Error-opacity-24);
}

.opacity-error-32{
	background: var(--Error-opacity-32);
}

.opacity-error-40{
	background: var(--Error-opacity-40);
}

.opacity-error-48{
	background: var(--Error-opacity-48);
}

/* SHADOWS */

.shadow-wrapper{
	display: grid; 
	grid-template-columns: repeat(3,1fr);
	width: 1100px;
}

.shadow-box{
    display: block;
	margin: 80px;
}

.shadow-box > div {
    width: 80px;
    height: 80px;
	margin-bottom: 8px;
	margin-left: 42px;
    background: #F2F2F2;
}

.box-bottom-border{
	box-shadow: var(--shadow-bottom-border);
}

.box-top-border{
	box-shadow: var(--shadow-top-border);
}

.box-bottom-level1{
	box-shadow: var(--shadow-bottom-level1);
}

.box-bottom-level2{
	box-shadow: var(--shadow-bottom-level2);
}

.box-top-level1{
	box-shadow: var(--shadow-top-level1);
}

.box-top-level2{
	box-shadow: var(--shadow-top-level2);
}

/*Buttons*/

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
}

button {
    margin: 2em;
    height: 70px;
    width: 200px;
	display: flex;
	justify-content:center;
	align-items: center;
	border: 1px solid var(--Primary);
	border-radius: 4px;
}

img{
	padding: 11px;
}

.button-primary {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--Primary100);
	background: var(--Primary);
}

.button-primary:hover {
    background: var(--Primary400);
	box-shadow: var(--shadow-bottom-level2);
}

.button-primary:focus{
	background: var(--Primary400);
	box-shadow: var(--shadow-bottom-level2);
}

.button-ghost{
	color: var(--Primary);
	background: white;
}

.button-ghost:hover {
	color: var(--Primary);
	background: var(--Primary-opacity-16);
	border: 0px;
	box-shadow: var(--shadow-bottom-level2);
}

.button-ghost:focus {
	background: var(--Primary-opacity-16);
	border: 0px;
	box-shadow: var(--shadow-bottom-level2);
}

button:disabled{
	color: var(--Primary300);
	background: var(--Primary-opacity-8);
}

.primary-button-disabled {
	border: 0px;
}

/*input*/

.input-grid {
	margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-gap: 1em;
    grid-auto-rows: minmax(50px, auto);
}

.input-grid div {
	display: flex;
	flex-direction: column;
}

.text-error-input {
	color: var(--Error);
	padding-left: 15px;
}

.text-info-input {
	color: var(--Info);
	padding-left: 15px;
}

.input-main {
	margin: 10px;
	border: 1px solid var(--Primary200);
	width: 300px;
	height: 60px;
	box-sizing: border-box;
	border-radius: 4px;
	outline: none;
	font-size: 24px;
	padding: 7px;
}

.input-primary:hover{
	border: 3px solid var(--Primary);
}

.input-primary:focus{
	border: 3px solid var(--Primary);
}

.input-error{
	border: 2px solid var(--Error);
	color: var(--Error);
}

.input-success{
	border: 2px solid var(--Success);
	color: var(--Success);
}

.input-info {
	border: 2px solid var(--Info);
	color: var(--Info);
}

.input-error::placeholder{
	color: var(--Error);
}

.input-success::placeholder{
	color: var(--Success);
}

.input-info::placeholder{
	color: var(--Info);
}

.input-icon-l {
	padding-left: 45px;
}

.input-icon-r {
	padding-right: 45px;
}

input:disabled{
	background-color: white;
}

#icon-user{
	background: url(images/user.svg) no-repeat 20px;
	background-position: 13px 17px;
}

#icon-user-info {
	background: url(images/user-info.svg) no-repeat 20px;
	background-position: 13px 17px;
}
#icon-user-success {
	background: url(images/user-success.svg) no-repeat 20px;
	background-position: 13px 17px;
}

#icon-user-error {
	background: url(images/user-error.svg) no-repeat 20px;
	background-position: 13px 17px;
}

#icon-eye{
	background: url(images/eye.svg) no-repeat 20px;
	background-position: 265px 20px;
}

#icon-eye-info {
	background: url(images/eye-info.svg) no-repeat 20px;
	background-position: 265px 20px;
}
#icon-eye-success {
	background: url(images/eye-success.svg) no-repeat 20px;
	background-position: 265px 20px;
}

#icon-eye-error {
	background: url(images/eye-error.svg) no-repeat 20px;
	background-position: 265px 20px;
}

/* Select */

.dropbtn {
	color: var(--Primary);
	width: 200px;
	padding: 16px;
	font-size: 16px;
	border: 1px solid var(--Primary);
	border-radius: 4px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
}
  
.dropdown {
	position:absolute;
	display: flex;
	flex-direction: column;
}
  
.dropdown-content {
	display: none;
	margin: 2px;
	border-radius: 4px;
	background-color: white;
	width: 230px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
  
.dropdown-content a {
	color: var(--Primary900);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	border-bottom: 1px solid var(--Primary100);
}
  
.dropdown a:hover {background-color: #ddd;}
  
.show {display: block;}

  /* Checkbox */
.checkbox-option label{
	display: flex;
	flex-direction: column;
	margin: 100px;
}

.check-input {
	-webkit-appearance: none;
}

.check-box {
	width: 24px;
	height: 24px;
	background: url(images/checkbox-off.svg);
}

.check-input:checked + .check-box {
	background: url(images/checkbox-on.svg);
}

.check-input:disabled + .check-box {
	background: url(images/checkbox-off-disabled.svg);
}

.check-input:checked:disabled + .check-box {
	background: url(images/checkbox-on-disabled.svg);
}

.radio-box {
	width: 24px;
	height: 24px;
	background: url(images/radio-off.svg);
}

.check-input:checked + .radio-box {
	background: url(images/radio-on.svg);
}

.check-input:disabled + .radio-box {
	background: url(images/radio-off-disabled.svg);
}

.check-input:checked:disabled + .radio-box {
	background: url(images/radio-on-disabled.svg);
}

  /* Switch */

.switch {
	position: relative;
	display: inline-block;
	width: 110px;
	height: 60px;
}

.slider-box {
	position: absolute;
	cursor: pointer; 
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: .4s;
	border-radius: 34px;
}

.switch input {-webkit-appearance: none;}

.slider-box::before{
	position: absolute;
	content: "";
	height: 50px;
	width: 50px;
	left: 5px;
	bottom: 5px;
	background-color: #fff;
	transition: 0.4s;
	border-radius: 50px;
}

input:checked + .slider-box {
	background-color: #ccc;
}

input:checked + .slider-box::before {
	background-color: var(--Primary);
	transform: translateX(50px);
}