@mixin opacity-blocks ($background, $opacity) {
    background: $background;
    opacity: $opacity;
}

@mixin button-primary-action ($background, $hover-bg, $hover-shadow, $focus-bg, $focus-shadow){
    background: $background;
    box-shadow: none;
    &:hover{
        background: $hover-bg;
        box-shadow: $hover-shadow;
    }
    &:focus{
        background: $focus-bg;
        box-shadow: $focus-shadow;
    }
}

@mixin button-ghost-action ($color-default, $bg, $ghost-shadow) {
    color: $color-default;
    background: white;
    &:hover {
        color:$color-default;
        background: $bg;
        border: 0px;
        box-shadow: $ghost-shadow;
    }
    &:focus {
        color: $color-default;
        background: $bg;
        border: 0px;
        box-shadow: $ghost-shadow;
    }
}

@mixin input-primary-action ($border) {
    &:hover {
        border: $border;
    }
    &:focus {
        border: $border;
    }
}