
/*Colors*/

$Shadow-color: #F2F2F2;

$Primary:#0052FF;
$Primary-opacity-8: rgba(0, 82, 255, 0.08);
$Primary-opacity-16: rgba(0, 82, 255, 0.16);
$Primary100:#E6EEFF;
$Primary200:#B3CBFF;	
$Primary300: #80A9FF;
$Primary400: #4D86FF;
$Primary500:#0052FF;
$Primary600:#004AE6;
$Primary700:#0039B3;
$Primary800:#002980;
$Primary900: #00194C;
$Secondary: #FE9526;
$Secondary100: #FFF4E9;
$Secondary200: #FFDFBE;
$Secondary300: #FFCA93;
$Secondary400: #FEB567;
$Secondary500: #FEA03C;
$Secondary600: #E58622;
$Secondary700: #B2681B;
$Secondary800: #7F4B13;
$Secondary900: #331E08;
$Info: #FFCB2F;
$Info100: #FFFAEA;
$Info200: #FFEFC1;
$Info300: #FFE597;
$Info400: #FFDB6D;
$Info500: #FFD044;
$Info600: #E6B72A;
$Info700: #B38E21;
$Info800: #806618;
$Info900: #332909;
$Success: #53D86A;
$Success100: #EEFBF0;
$Success200: #CBF3D2;
$Success300: #A9ECB5;
$Success400: #87E497;
$Success500: #64DC79;
$Success600: #4BC25F;
$Success700: #3A974A;
$Success800: #21562A;
$Success900: #112B15;
$Error: #FF3434;
$Error100: #FFEBEB;
$Error200: #FFC2C2;
$Error300: #FF9A9A;
$Error400: #FF7171;
$Error500: #FF4848;
$Error600: #E62F2F;
$Error700: #B32424;
$Error800: #801A1A;
$Error900: #330A0A;

/* Borders */
$Zero-border: 0px;
$Primary-border: 1px solid $Primary;
$Primary-border3: 3px solid $Primary;
$Primary-border100: 1px solid $Primary100;
$Primary-border200: 1px solid $Primary200;
$Error-border2: 2px solid $Error;
$Success-border2: 2px solid $Success;
$Info-border2: 2px solid $Info;

/*border radius*/
$border-radius-primary: 1px;
$border-radius-secondary: 2px;
$border-radius-third: 3px;
$border-radius-fourth: 4px;
$border-radius-fifteenth: 15px;
$border-radius-main-block-top: 4px 4px 0px 0px;
$border-radius-main-block-bottom: 0px 0px 4px 4px;

/*grid*/
$grid-columns-2: repeat(2,1fr);
$grid-columns-3: repeat(3,1fr);
$grid-columns-4: repeat(4,1fr);


/* Levels opacity */

$first-level-opacity: 0.08;
$second-level-opacity: 0.16;
$third-level-opacity: 0.24;
$fourth-level-opacity: 0.32;
$fifth-level-opacity: 0.4;
$sixth-level-opacity: 0.48;

/* Shadow border */

$shadow-bottom-border: inset 0px -1px 0px #EAEAEA;
$shadow-bottom-level1: 0px 2px 10px rgba(25, 1, 52, 0.12);
$shadow-bottom-level2: 0px 4px 10px rgba(1, 21, 52, 0.16);
$shadow-top-border: inset 0px 1px 0px #EAEAEA;
$shadow-top-level1: 0px -2px 10px rgba(25, 1, 52, 0.12);
$shadow-top-level2: 0px -4px 10px rgba(25, 1, 52, 0.16);

$shadow-select: 0px 8px 16px 0px rgba(0,0,0,0.2);

/* Fonts */
$paragraph-text: Inter;
$heading-text: SF Pro Display;
$text-color-value: Open Sans;

/*Flex*/
$flex1: 1;
$flex2: 2;
$flex3: 3;
$flex4: 4;
$flex5: 5;
$flex6: 6;
$flex7: 7;
$flex8: 8;
$flex9: 9;
$flex10: 10;
$flex11: 11;
$flex12: 12;
$flex13: 13;
$flex14: 14;
$flex15: 15;
$flex16: 16;
$flex17: 17;
$flex18: 18;
$flex19: 19;
$flex20: 20;

/* Typography elements */
//header
$height-menu: 67px;
$space-around-elements: 20px;

$first-column-width: 255px;
$padd-first-column-left: 98px;
$padd-first-column-bottom: 40px;

$second-column-width:70px;

$third-column-width: 90px;

$fourth-column-width: 540px;


/* Colors elements */

//grid params
$main-grid-columns-colors: repeat(2,660px);
$main-grid-rows-colors: minmax(446px, auto);

$others-grid-columns-colors: repeat(2, 48px);
$others-grid-rows-colors: 48px;

$font-weight-text-color-value: 600;
$font-size-text-color-value: 15px;
$line-height-text-color-value: 24px;
$font-padd-top-text-color-value: 12px;

//main blocks

$main-block-width: 130px;
$main-block-height: 130px;

$rectangle-block-height:48px;


/* SHADOWS */
$shadows-blocks-width: 1100px;
$standart-space: 80px;

$shadows-box-width: 80px;
$shadows-box-height: 80px;


/*Buttons*/
$grid-rows-buttons: minmax(100px, auto);
$height-button: 70px;
$width-button:200px;

/* Inputs */
$grid-colums-input: repeat(3, 320px);
$grid-rows-input: minmax(50px, auto);

$width-input: 300px;
$height-input: 60px;

$bg-icon-user: url(../images/user.svg) no-repeat 20px;
$bg-icon-user-info: url(../images/user-info.svg) no-repeat 20px;
$bg-icon-user-success: url(../images/user-success.svg) no-repeat 20px;
$bg-icon-user-error: url(../images/user-error.svg) no-repeat 20px;

$bg-icon-eye: url(../images/eye.svg) no-repeat 20px;
$bg-icon-eye-info: url(../images/eye-info.svg) no-repeat 20px;
$bg-icon-eye-success: url(../images/eye-success.svg) no-repeat 20px;
$bg-icon-eye-error: url(../images/eye-error.svg) no-repeat 20px;

$bg-position-l: 13px 17px;
$bg-position-r: 265px 20px;


/*Select*/
$width-select: 200px;
$height-select: 54px;

$width-select-content: 200px;

/* Checkbox */
$width-check-box: 24px;
$height-check-box: 24px;

$bg-icon-checkbox-off: url(../images/checkbox-off.svg);
$bg-icon-checkbox-on: url(../images/checkbox-on.svg);
$bg-icon-checkbox-off-disabled: url(../images/checkbox-off-disabled.svg);
$bg-icon-checkbox-on-disabled: url(../images/checkbox-on-disabled.svg);

$bg-icon-radio-off: url(../images/radio-off.svg);
$bg-icon-radio-on: url(../images/radio-on.svg);
$bg-icon-radio-off-disabled: url(../images/radio-off-disabled.svg);
$bg-icon-radio-on-disabled: url(../images/radio-on-disabled.svg);

/*Switch */
$width-switch: 50px;
$height-switch: 26px;

$width-switch-before: 23px;
$height-switch-before: 23px;