@import 'variables';
@import 'mixins';

* {
    margin:0px;
}

.p1, .p2, .p3, .p4, h1, p{
	font-family: $paragraph-text;
}

h2, h3, h4, h5, h6{
    font-family: $heading-text;
    margin: 0px;
}

p{
	font-size: 16px;
	line-height: 24px;
}

.p1{
	font-size: 20px;
	line-height: 28px;
}

.p2{
	font-size: 18px;
	line-height: 26px;
}

.p3{
	font-size: 16px;
	line-height: 24px;
}

.p4{
	font-size: 14px;
	line-height: 22px;
}


h1{
	font-size: 32px;
	line-height: 42px;
}

h2{
	font-size: 28px;
	line-height: 36px;
}

h3{
	font-size: 22px;
	line-height: 30px;
}

h4{
	font-size: 20px;
	line-height: 28px;
}

h5{
	font-size: 18px;
	line-height: 26px;
}

h6{ 
	font-size: 16px;
	line-height: 24px;
}

/* line class*/

.lineClass {
	border: $Primary-border;
    opacity: $second-level-opacity;
}
/*------------------------------*/

/* TYPOGRAPHY elements 
header elements*/

.flex{
    display: flex;
}

.start {
	height: $height-menu;
	background: $Primary100;
}

.space-elements{
	padding: $space-around-elements;
}

.styleName {
	flex: $flex4;
	width: $first-column-width;
	padding-left: $padd-first-column-left;
	padding-bottom: $padd-first-column-bottom;
}

.fontSize{
	flex: $flex2;
	width: $second-column-width;
}
.lineHeight{
	flex: $flex2;
	width: $third-column-width;
}

.sampleClass {
	flex: $flex17;
	width: $fourth-column-width;
}

/* Colors elements */

.wrapper {
	display: grid;
	grid-template-columns: $main-grid-columns-colors;
	grid-auto-rows: $main-grid-rows-colors;
	> div {
			margin: $standart-space;
	}
}

.wrapper-text-color {
	font-family: $text-color-value;
	font-size: $font-size-text-color-value;
	font-weight: $font-weight-text-color-value;
	line-height: $line-height-text-color-value;
	padding-top: $font-padd-top-text-color-value;
}

.wrapper-other-colors{
	display: flex;
}

.wrapper-primary {
	display: grid;
	grid-template-columns: $others-grid-columns-colors;
	grid-auto-rows: $others-grid-rows-colors;
	margin-left: 48px;
	grid-row-gap: 16px;
	grid-column-gap: 59px;
}

.main-block {
	width: $main-block-width;
	height: $main-block-height;
	border: $Primary-border100;
	border-radius: $border-radius-main-block-top;
}

.rectangle-block {
	display: flex;
	flex-direction: column;
	width: $main-block-width;
	height: $rectangle-block-height;
	border: $Primary-border100;
	border-radius: $border-radius-main-block-bottom;
}

.radius-mini-blocks {
	border-radius: $border-radius-secondary;
}

.text-color-name {
	font-family: $paragraph-text;
	font-size: 14px;
	line-height: 17px;
	height: 17px;
	margin-top: 10px;
	margin-left: 10px;
	color: $Primary900;
}

.code-color {
	font-size: 13px;
	line-height: 16px;
	margin-left:8.5px;
	height: 16px;
	opacity: $sixth-level-opacity;
}

.main-block-primary {
	background: $Primary;
}

.main-block-secondary {
	background: $Secondary;
}

.main-block-info {
	background: $Info;
}

.main-block-success {
	background: $Success;
}

.main-block-error {
	background: $Error;
}

/* primary colors */

.value-primary-100 {
	background: $Primary100;
}

.value-primary-200 {
	background: $Primary200;
}

.value-primary-300 {
	background: $Primary300;
}

.value-primary-400 {
	background: $Primary400;
}

.value-primary-500 {
	background:$Primary500;
}

.value-primary-600 {
	background: $Primary600;
}

.value-primary-700 {
	background: $Primary700;
}

.value-primary-800 {
	background: $Primary800;
}

.value-primary-900 {
	background: $Primary900;
}

.opacity-primary-8 {
	@include opacity-blocks($Primary, $first-level-opacity)
}

.opacity-primary-16 {
	@include opacity-blocks($Primary, $second-level-opacity)
}
.opacity-primary-24 {
	@include opacity-blocks($Primary, $third-level-opacity)
}

.opacity-primary-32 {
	@include opacity-blocks($Primary, $fourth-level-opacity)
}

.opacity-primary-40 {
	@include opacity-blocks($Primary, $fifth-level-opacity)
}

.opacity-primary-48 {
	@include opacity-blocks($Primary, $sixth-level-opacity)
}

.value-secondary-100 {
	background: $Secondary100;
}

.value-secondary-200 {
	background: $Secondary200;
}

.value-secondary-300 {
	background: $Secondary300;
}

.value-secondary-400 {
	background: $Secondary400;
}

.value-secondary-500 {
	background: $Secondary500;
}

.value-secondary-600 {
	background: $Secondary600;
}

.value-secondary-700 {
	background: $Secondary700;
}

.value-secondary-800 {
	background: $Secondary800;
}

.value-secondary-900 {
	background: $Secondary900;
}

.opacity-secondary-8 {
	@include opacity-blocks($Secondary, $first-level-opacity);
}
.opacity-secondary-16 {
	@include opacity-blocks($Secondary, $second-level-opacity);
}
.opacity-secondary-24 {
	@include opacity-blocks($Secondary, $third-level-opacity);
}
.opacity-secondary-32 {
	@include opacity-blocks($Secondary, $fourth-level-opacity);
}
.opacity-secondary-40 {
	@include opacity-blocks($Secondary, $fifth-level-opacity);
}
.opacity-secondary-48 {
	@include opacity-blocks($Secondary, $sixth-level-opacity);
}

.value-info-100 {
	background: $Info100;
}
.value-info-200 {
	background: $Info200;
}
.value-info-300 {
	background: $Info300;
}
.value-info-400 {
	background: $Info400;
}
.value-info-500 {
	background: $Info500;
}

.value-info-600 {
	background: $Info600;
}
.value-info-700 {
	background: $Info700;
}
.value-info-800 {
	background: $Info800;
}
.value-info-900 {
	background: $Info900;
}

.opacity-info-8 {
	@include opacity-blocks($Info, $first-level-opacity);
}
.opacity-info-16 {
	@include opacity-blocks($Info, $second-level-opacity);
}
.opacity-info-24 {
	@include opacity-blocks($Info, $third-level-opacity);
}
.opacity-info-32 {
	@include opacity-blocks($Info, $fourth-level-opacity);
}
.opacity-info-40 {
	@include opacity-blocks($Info, $fifth-level-opacity);
}
.opacity-info-48 {
	@include opacity-blocks($Info, $sixth-level-opacity);
}

.value-success-100 {
	background: $Success100;
}
.value-success-200 {
	background: $Success200;
}
.value-success-300 {
	background: $Success300;
}
.value-success-400 {
	background: $Success400;
}
.value-success-500 {
	background: $Success500;
}
.value-success-600 {
	background: $Success600;
}
.value-success-700 {
	background: $Success700;
}
.value-success-800 {
	background: $Success800;
}
.value-success-900 {
	background: $Success900;
}

.opacity-success-8{
	@include opacity-blocks($Success, $first-level-opacity);
}
.opacity-success-16{
	@include opacity-blocks($Success, $second-level-opacity);
}
.opacity-success-24{
	@include opacity-blocks($Success, $third-level-opacity);
}
.opacity-success-32{
	@include opacity-blocks($Success, $fourth-level-opacity);
}
.opacity-success-40{
	@include opacity-blocks($Success, $fifth-level-opacity);
}
.opacity-success-48{
	@include opacity-blocks($Success, $sixth-level-opacity);
}

.value-error-100{
	background: $Error100;
}
.value-error-200{
	background: $Error200;
}
.value-error-300{
	background: $Error300;
}
.value-error-400{
	background: $Error400;
}
.value-error-500{
	background: $Error500;
}
.value-error-600{
	background: $Error600;
}
.value-error-700{
	background: $Error700;
}
.value-error-800{
	background: $Error800;
}
.value-error-900{
	background: $Error900;
}

.opacity-error-8 {
	@include opacity-blocks ($Error, $first-level-opacity);
}
.opacity-error-16 {
	@include opacity-blocks ($Error, $second-level-opacity);
}
.opacity-error-24 {
	@include opacity-blocks ($Error, $third-level-opacity);
}
.opacity-error-32 {
	@include opacity-blocks ($Error, $fourth-level-opacity);
}
.opacity-error-40 {
	@include opacity-blocks ($Error, $fifth-level-opacity);
}
.opacity-error-48 {
	@include opacity-blocks ($Error, $sixth-level-opacity);
}


/* SHADOWS */

.shadow-wrapper {
	display: grid;
	grid-template-columns: $grid-columns-3;
	width: $shadows-blocks-width;
}

.shadow-box {
	display: block;
	margin: $standart-space;
	> div {
		width: $shadows-box-width;
		height: $shadows-box-height;
		margin-bottom: 8px;
		margin-left: 42px;
		background: $Shadow-color;
	}
}

.box-bottom-border {
	box-shadow: $shadow-bottom-border;
}

.box-top-border {
	box-shadow: $shadow-top-border;
}

.box-bottom-level1 {
	box-shadow: $shadow-bottom-level1;
}

.box-bottom-level2 {
	box-shadow: $shadow-bottom-level2;
}

.box-top-level1 {
	box-shadow: $shadow-top-level1;
}

.box-top-level2 {
	box-shadow: $shadow-top-level2;
}


/*Buttons*/

.button-grid {
	display: grid;
	grid-template-columns: $grid-columns-2;
	grid-gap: 1em;
	grid-auto-rows: $grid-rows-buttons;
}

button {
	margin: 2em;
	height: $height-button;
	width: $width-button;
	display: flex;
	justify-content: center;
	align-items: center;
	border: $Primary-border;
	border-radius: $border-radius-fourth;
	&:disabled {
		color: $Primary300;
		background: $Primary-opacity-8;
	}
}

.img-button {
	padding: 11px;
}

.button-primary {
	display: flex;
	justify-content: center;
	align-items: center;
	color: $Primary100;
	@include button-primary-action($Primary, $Primary400, $shadow-bottom-level2, $Primary400, $shadow-bottom-level2);
}

.button-ghost {
	color: $Primary;
	background: white;
	@include button-ghost-action ($Primary, $Primary-opacity-16, $shadow-bottom-level2);
}

.primary-button-disabled {
	border: $Zero-border;
}


/* Input */

input:disabled{
	background-color: white;
}

.input-grid {
	margin: 50px;
	display: grid;
	grid-template-columns: $grid-colums-input;
	grid-auto-rows: $grid-rows-input;
	div{
		display: flex;
		flex-direction: column;
	}
}

.text-error-input {
	color: $Error;
	padding-left: 15px;
}

.text-info-input {
	color: $Info;
	padding-left: 15px;
}

.input-main {
	margin: 10px;
	border: $Primary-border200;
	width: $width-input;
	height: $height-input;
	box-sizing: border-box;
	border-radius: $border-radius-fourth;
	outline: none;
	font-size: 24px;
	padding: 7px;
}

.input-primary {
	@include input-primary-action($Primary-border3);
}

.input-error {
	border: $Error-border2;
	color: $Error;
	&::placeholder {
		color: $Error;
	}
}

.input-success {
	border: $Success-border2;
	color: $Success;
	&::placeholder {
		color: $Success;
	}
}

.input-info {
	border: $Info-border2;
	color: $Info;
	&::placeholder {
		color: $Info;
	}
}

.input-icon-l {
	padding-left: 45px;

}

.input-icon-r {
	padding-right: 45px;

}

.icon-user {
	background: $bg-icon-user;
	background-position: $bg-position-l;
}
.icon-user-info {
	background: $bg-icon-user-info;
	background-position: $bg-position-l;
}
.icon-user-success {
	background: $bg-icon-user-success;
	background-position: $bg-position-l;
}
.icon-user-error {
	background: $bg-icon-user-error;
	background-position: $bg-position-l;
}

.icon-eye {
	background: $bg-icon-eye;
	background-position: $bg-position-r;
}
.icon-eye-info {
	background: $bg-icon-eye-info;
	background-position: $bg-position-r;
}
.icon-eye-success {
	background: $bg-icon-eye-success;
	background-position: $bg-position-r;
}
.icon-eye-error {
	background: $bg-icon-eye-error;
	background-position: $bg-position-r;
}

/*Select*/

.dropbtn {
	color:$Primary;
	width: $width-select;
	height: $height-select;
	border-radius: $border-radius-fourth;
	font-size: 16px;
	border: $Primary-border;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
}

.text-button {
	padding: 16px;
}

.dropdown {
	position: absolute;
	display: flex;
	flex-direction: column;
	a:hover{
		background-color: #ddd;
	}
}

.dropdown-content {
	display: none;
	margin: 2px;
	border-radius: $border-radius-fourth;
	background-color: white;
	width: $width-select-content;
	overflow: auto;
	box-shadow: $shadow-select;
	z-index: 1;
	a {
		color: $Primary900;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		border-bottom: $Primary-border100;
	}
}

.show {display: block;}


/* Checkbox */

.checkbox-option label {
	display: flex;
	flex-direction: column;
	margin: 100px;
}

.check-input {
	-webkit-appearance: none;
	&:checked + .check-box{
		background: $bg-icon-checkbox-on;
	}
	&:disabled + .check-box{
		background: $bg-icon-checkbox-off-disabled;
	}
	&:checked:disabled + .check-box {
		background: $bg-icon-checkbox-on-disabled;
	}
	&:checked + .radio-box{
		background: $bg-icon-radio-on;
	}
	&:disabled + .radio-box {
		background: $bg-icon-radio-off-disabled;
	}
	&:checked:disabled + .radio-box{
		background: $bg-icon-radio-on-disabled;
	}
}

.check-box {
	width: $width-check-box;
	height: $height-check-box;
	background: $bg-icon-checkbox-off;
}

.radio-box {
	width: $width-check-box;
	height: $height-check-box;
	background: $bg-icon-radio-off;
}

/* Switch */

.switch {
	position: relative;
 	display: inline-block;
 	width: 50px;
	height: 26px;
 	margin-top: 90px;
}

.slider-box {
 	position: absolute;
 	cursor: pointer;
 	top: 1px;
 	left: 0;
 	right: 0;
 	bottom: 0;
 	background-color: #ccc;
 	transition: .4s;
 	border-radius: $border-radius-fifteenth;
 	&::before{
 		position: absolute;
 		content: "";
 		height: $height-switch-before;
 		width: $width-switch-before;
 		top: 1px;
 		left: 1px;
 		bottom: 0.5px;
 		background-color: white;
 		transition: .4s;
 		border-radius: 24px;
	}
}
.switch input {-webkit-appearance: none;}


input {
 	&:checked + .slider-box{
 		background-color: #ccc;
 	}
 	&:checked + .slider-box::before{
 		background-color: $Primary;
 		transform: translateX(24px);
 	}
}
